.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jumbotron {
    background: #532f8c;
    color: white;
    padding-bottom: 10px
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7
}
.jumbotron .btn-primary:hover {
    background: #7646c1
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.navbar+.jumbotron {
    margin-top: -65px
}
.jumbotron .lang-logo {
    display: block;
    background: #b01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white
}
.jumbotron .lang-logo img {
    max-width: 100%
}

.reservatorio-detail img {
    float: left;
}

.detalhe-reservatorio {
    padding: 10px;
    margin: 10px;

}