{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h2>Reservatórios de Água do Estado do RJ</h2>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Projeto no Github: <a href="https://github.com/bmentges/aguas_rj_bigdata">https://github.com/bmentges/aguas_rj_bigdata</a>
  </div>
</div>
{% endblock %}
